# MongoDB Configuration (Optionnel si spécifié par requête/CLI)
MONGO_URI=mongodb+srv://user:password@cluster.xxxxxxx.mongodb.net/

# Planification des sauvegardes automatiques
# (Exemple: toutes les nuits à 02:00)
BACKUP_SCHEDULE_HOUR=2
BACKUP_SCHEDULE_MINUTE=0
BACKUP_DB_NAME=ma_base_de_donnees
BACKUP_COLLECTION_NAME=ma_collection
BACKUP_CLOUD_PROVIDER=s3
BACKUP_DEST_PATH=backups/mongodb_export.csv

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=votre_access_key_id
AWS_SECRET_ACCESS_KEY=votre_secret_access_key
AWS_DEFAULT_REGION=eu-west-3
AWS_S3_BUCKET=votre-bucket-s3

# Dropbox Configuration
DROPBOX_ACCESS_TOKEN=votre_access_token_dropbox

# Google Drive Configuration
# Chemin d'accès au fichier JSON de clés du Compte de Service Google Cloud
GDRIVE_CREDENTIALS_FILE=credentials.json
# Identifiant du dossier Google Drive cible
GDRIVE_FOLDER_ID=votre_id_dossier_gdrive
